
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root{
  --header-height: 3rem;
  --font-semi: 600;
}
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
}
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 1rem);
  margin:auto;
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
 font-weight: bolder;
  color:#000075;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: #52adeb;
  color: black;
}
.nav__logo{
  color: #990000;
  font-weight: bold;
  font-size: 20px;
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.show{
  right: 0;
}
#home{
  background-image:url(images/hms1.jpg);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  text-align:center;
  height: 600px;
  padding-top: 150px;
}
.home__data{
  align-self: left;
}
.home__data p{
  font-weight: bolder;
  font-size: 36px;
  color: #734059;
}
.home__title{
  font-size:38px;
  margin-bottom: var(--mb-5);
}
.home__title-color{
  color:#0000b3;
}
.home__data .button{
  font-size: 20px;
  background-color: #3d7a99; 
  color:white;
}
.home__data .button:hover{
  font-size: 20px;
  border:2px solid black;
  background-color:#00a3ff;
  color:#fff; 
}
.button{
  display: inline-block;
  padding: .50rem 1.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}
#doctor{
  background-color: #e0ffff;
}
.section-title{
  color: #003333;
}
.doctor__container{
  row-gap: 2rem;
  text-align: center;
}
.doctor__subtitle{
  margin-bottom: var(--mb-2);
  color: #73264d;
}
.doctor__img{
  justify-self: center;
}
.doctor__img img{
  width: 300px;
  height: 280px;
  border-radius: .5rem;
}
.doctor-data .button{
  font-size: 15px;
  background-color: #2ec78f; 
  color:white;
}
.doctor-data .button:hover{
  font-size: 15px;
  background-color:#00a3ff;
  color:#fff; 
  font-weight: bold;
}
.doctor__text{
  padding-bottom: 30px;
}
#departments{
  background-color: #e0ffff;
}
.section-title{
  color: #003333;
}
.departments__container{
  row-gap: 2rem;
  text-align: center;
}
.departments__subtitle{
  margin-bottom: var(--mb-2);
  color: #73264d;
}
.departments__img{
  justify-self: center;
}
.departments__img img{
  width: 300px;
  height: 280px;
  border-radius: .5rem;
}
.departments-data .side-item{
  font-size: 20px!important; 
  color:#004080!important;
  font-weight: bold!important;
}
.departments__text{
  padding-bottom: 30px;
}

#patient{
  background-color:#f0f5f5;
}
.section-title{
  color: #003333;
}
.patient__container{
  row-gap: 2rem;
  text-align: center;
}
.patient__subtitle{
  margin-bottom: var(--mb-2);
  color:#004d4d;
}
.patient__img{
  justify-self: center;
}
.patient__img img{
  width: 320px;
  height: 280px;
  border-radius: .5rem;
}
.patient-data .button{
  font-size: 12px;
  background-color:#009c99; 
  color:black;
}
.patient-data .button:hover{
  font-size: 12px;
  background-color:#00b33c;
  color:#fff; 
  font-weight: bold;
}
.patient__text{
  padding-bottom: 30px;
}
#equipments{
  background-color:#f0f5f5;
}
.section-title{
  color: #003333;
}
.equipments__container{
  row-gap: 2rem;
  text-align: center;
}
.equipments__subtitle{
  margin-bottom: var(--mb-2);
  color:#004d4d;
}
.equipments__img{
  justify-self: center;
}
.equipments__img img{
  width: 320px;
  height: 280px;
  border-radius: .5rem;
}
.equipments-data .side-item{
  font-size: 20px!important;
  color:#004080!important;
  font-weight: bold!important;
}
.equipments-data .button:hover{
  font-size: 15px;
  background-color:#00b33c;
  color:#fff; 
  font-weight: bold;
}
.equipments__text{
  padding-bottom: 30px;
}

#ambulance{
  background-color: #e0ffff;
}
.section-title{
  color: #003333;
}
.ambulance__container{
  row-gap: 2rem;
  text-align: center;
}
.ambulance__subtitle{
  margin-bottom: var(--mb-2);
  color: #73264d;
}
.ambulance__img{
  justify-self: center;
}
.ambulance__img img{
  width: 300px;
  height: 280px;
  border-radius: .5rem;
}
.ambulance-data .button{
  font-size: 15px;
  background-color: #2ec78f; 
  color:white;
}
.ambulance-data .button:hover{
  font-size: 15px;
  background-color:#00a3ff;
  color:#fff; 
  font-weight: bold;
}
.ambulance__text{
  padding-bottom: 30px;
}
#work{
  background-color:#e0ffff;
}
.work__container{
  row-gap: 2rem;
}
.work__img{
  box-shadow: 0 4px 25px #e0ffff;
  border-radius: .5rem;
  overflow: hidden;
}
.work__img img{
  transition: 1s;
  cursor: pointer;
}
.work__img img:hover{
  transform: scale(1.1);
}
#contact{
  background-color: #b3cccc;
}
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}
.footer{
  background-color: #009999;
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .ambulance__container, .doctor__container, .patient__container, .departments__container, .equipments__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .doctor__img img{
    width: 480px;
    height: 320px;
  }
  .patient__img img{
    width: 480px;
    height: 320px;
  }
  .departments__img img{
    width: 450px;
    height: 320px;
  }
  .equipments__img img{
    width: 480px;
    height: 320px;
  }
  .ambulance__img img{
    width: 480px;
    height: 320px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
  }
}